# Supabase Postgres Connection String
# e.g., postgresql+psycopg2://postgres.yourproject:yourpassword@aws-0-region.pooler.supabase.com:6543/postgres
DATABASE_URL=postgresql://postgres.ctkgeflfpwvarwemhkia:[YOUR-PASSWORD]@aws-0-ap-south-1.pooler.supabase.com:6543/postgres
